include:
  - docker-compose.deps.yml 

services:
  todoapp:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
      - "8085:8085"
    environment:
      - PORT=8080
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
      - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://prometheus:9090/api/v1/otlp/v1/metrics
      - OTEL_SEMCONV_STABILITY_OPT_IN=database
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=todoappdb
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=root-token
      - VAULT_MOUNT_PATH=secret
      - VAULT_SECRET_PATH=todoapp
      - PUBSUB_EMULATOR_HOST=pubsub-emulator:8681
      - PUBSUB_PROJECT_ID=local-dev
      - PUBSUB_TOPIC_ID=Todo
      - PUBSUB_SUBSCRIPTION_ID=todo_summary_generator
      - LLM_MODEL_HOST=http://model-runner.docker.internal
      - LLM_MODEL=qwen2.5:7B-Q4_0
      - LLM_EMBEDDING_MODEL=embeddinggemma:300M-Q8_0
      - SUMMARY_BATCH_INTERVAL=1s
    models:
      - qwen2.5
      - embeddinggemma
    depends_on:
      jaeger:
        condition: service_started
      postgres:
        condition: service_healthy
      vault:
        condition: service_healthy
      pubsub-emulator:
        condition: service_healthy
      prometheus:
        condition: service_started
  
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    ports:
      - "6831:6831/udp"
      - "16686:16686"
      - "4318:4318"

  prometheus:
    image: prom/prometheus:v3.9.1
    command:
      - "--web.enable-otlp-receiver"
      - "--config.file=/etc/prometheus/prometheus.yml"
    entrypoint:
      - sh
      - -c
      - |
        cat <<EOF > /etc/prometheus/prometheus.yml
        global:
          scrape_interval: 15s
        EOF
        /bin/prometheus --web.enable-otlp-receiver --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:11.3.0
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      prometheus:
        condition: service_started